.App {
    height: 100%;
}

.App-panels {
    height: 80%;
    margin: 0.5em;
}

@media (min-width: 768px) {
    .App-panels {
        display: flex;
        margin: 2em;
    }

    .input {
        margin: 2em;
        display: flex;
    }
}

.input {
    margin: 0.5em;
}

.input label {
    font-weight: bold;
    display: block;
}

.input textarea {
    min-width: 400px;
    min-height: 100px;
}